<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{251,82}}</string>
                <key>sourceSize</key>
                <string>{251,92}</string>
            </dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{237,234}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{237,234}}</string>
                <key>sourceSize</key>
                <string>{251,236}</string>
            </dict>
            <key>lightblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,321},{124,125}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{124,125}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{164,164}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{164,164}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,238},{120,123}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{120,123}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{233,234}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,234}}</string>
                <key>sourceSize</key>
                <string>{251,236}</string>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,360},{120,119}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{120,119}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>seven.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c31b7d2d509500374ff6782e85907d39:646ddded25978ffa8652905e2f6a82c5:cf455d4e9dfef67a3246d63de1049d56$</string>
            <key>textureFileName</key>
            <string>seven.png</string>
        </dict>
    </dict>
</plist>
